* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    width: 100%;
    background: var(--bs-secondary);
    color: var(--bs-light);
    padding: 1rem 0;
    padding-left: 1rem;
}

form * {
    outline: none;
}